.friends{
    width: 500px;
    margin: 0 auto;
    padding: 0;
    margin-top: 50px; 
    margin-bottom: 0;  
}

.item {   
    display: flex;
    gap: 20px;  
    align-items: center;
    text-align: center;
    border: 1px solid darkgray;
    border-radius: 8px;    
    background-color: #ffffff;
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;    
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.isOnline {
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
}

.isOffline {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;     
}


.name {
    font-size: 20px;
    font-weight: bold;   
}